/* Page Principale*/

section{
	background-color: #F3EBD1;
	box-shadow: none;
}

#index {
	float: right;
	width: 920px;
	min-height: 900px;
	position: relative;
	top: 100px;
	text-align : justify;
	z-index : 1;
	
	border-radius: 10px;
	box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.6);
}

#page_accueil {
	float: right;
	width: 920px;
	min-height: 900px;
	position: relative;
	top: 100px;
	text-align : justify;
	z-index : 1;
}

/*Tableau images*/

.ligne{
	margin: 0 0 50 0;
	background-color : white;
	padding: 0px 10px;
}

.ligne h2{
	margin-bottom : 20px;
	padding-top: 20px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: green;
}

.ligne li{
	display : inline-block;
	margin: 10px 10px;
	border: solid;
}

.image{
	margin:auto;
	width:150px;
}

.text {
	bottom:0;
	position : relative;	
	width: 150px;
	height : 40px;
	font-size: 12px;
	z-index : 4;
	background-color: #ffffff;
	overflow : hidden;
}

.text p {
	background-color: #ffffff;
	padding-top: 10px;
	height : 60px;
	display : none;
}


.image {
	max-width: 150;
	max-height: 180;
	z-index : 3;
}


	/* Titre et onglets*/

#titre_projet {
	display: block;
	margin-top: 10px;
}

#menu {
	width: 920px;
	height: 30px;
	margin-top: 10px;
	background-color: rgba(125, 125, 125, 0.8);
	z-index: 3;
}

.bouton {			/* Maximum 10boutons */
	display: block-inline;
	width: 90px;
	height: 30px;
	margin: 0px 1px;
	text-align: center;
}

.bouton:hover {
	height : 60px;
	padding-top: 30px;
}

	/* Reste de la page*/
article{
	width: 552px;
	margin : 15px;
}

aside{	
	display: block-inline;
		vertical-align: top;
	float: right;
	text-align: left;
	width: 320px;
	padding : 0.5%;
	margin : 25px 15px;
}

.case{
	display: block-inline;
	background-color : #f3ebd1;
	padding : 15px;
	margin-bottom : 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.6);				
}
