	/* Titre et onglets*/
#titre_projet {
	display: block;
	margin-top: 10px;
}

#menu {
	width: 920px;
	height: 25px;
	margin-top: 10px;
	background-color: rgba(125, 125, 125, 0.8);
	z-index: 3;
}

.bouton {			/* Maximum 10boutons */
	float: left;
	width: 90px;
	height: 24px;
	margin-top: 1px;
	text-align: center;
	border-radius: 10px 0px 0px 0px;
	border-style: none;
	border-right: 1px solid black;
	z-index: 3;
	background-color: rgba(220, 220, 220, 1);
}

.bouton:hover , .bouton:focus, .active{
	background-color: #ffffff;

	width: 90px;

} 

	/* Reste de la page*/
article{
	width: 572px;
	margin : 15px;
	display : none; /* Les cache de base */
}
article:nth-of-type(1) { /* N'affiche que le premier à savoir présentation */
	display: block;
}

aside{	
	vertical-align: top;
	float: right;
	text-align: left;
	width: 300px;
	padding : 0.5%;
	margin : 25px 15px;
}

.case{
	display: block-inline;
	background-color : #f3ebd1;
	padding: 15px;
	margin-bottom : 20px;
		
		/*Bordure flou*/
		border-radius: 10px;
		box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.6);				
}



#video{
	margin: auto;
	padding: 20px 15px;

}


/* Titres */

#titre_principal{
	color : #f3ebd1;
	font-size: 1.9em;		/*Taille du titre*/
	font-weight: bold;		/*Titre en gras*/
	text-align: center;		/*Titre centré*/
}

#intro{	
	color: maroon;
	font-size: 1.3em;
	font-weight: bold;
	font-style: italic;
}


