/* Formulaire*/
.highlight1{
	background-color : rgba(200,200,200,1);
}

.highlight2{
	background-color : rgba(230,230,230,1);
}

	/* Reste de la page*/
article{
	width: 880px;
	height : 350px;
	margin : 20px;
	border : solid 1px;
	background-color: rgba(225,225,225,1);
}


article h1 {
	margin : auto;
	margin : 15px 0px;
}


	/*Recherche projet*/

#projet {
	height : 350px;
}

#projet ul{
	padding: 0px;
	list-style-type: none; 
}

#projet li {
	display : inline-block;
	width : 345px;
	overflow : hidden;
	margin: 10px 0px;
}

#theme {
	float:left;
	padding: 0px 20px;

}

#theme_ligne2 {
	height : 30%;
}

#theme_ligne2 li {
	width : 45%;
}

#theme_ligne3 {
	height : 30%;
}

#theme_ligne3 li {
	width : 45%;
	vertical-align : top;
}

#theme_ligne3 select {
	width : 150px;
}

#autre_filtre {
	border-left:inset rgba(200,200,200,1);
	float: right;
	padding: 0px 20px;

}

	/*Recherche personne*/
	
#personne {
	height : 350px;
	display : none;
}

#personne li {
	display : inline-block;
	width : 345px;
}

	/*aside*/
aside{	
	float: left;
	text-align: left;
	width: 75px;
	padding : 0.5%;
	margin : 90px 15px 90px -2px;
	line-height :80px;
	border : solid 1px;
		border-left : none;
	border-radius: 0px 10px 10px 0px;
	box-shadow :2px 2px 2px 0px;
	background-color: white;
}

aside ul{
	padding: 0px;
	list-style-type: none; 
}

aside li img {
	margin: 5px 2px;
	vertical-align : bottom;
}
