<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	<link rel="stylesheet" href="/public/stylesheets/commun.css" />
	<title> <%= title %> </title>

</head>

<body>
	
	<header>
		<p id="langue"><a href="">FR</a> | <a href="">EN</a></p>
		<h1> <a href="/"> Gatherer </a></h1>
	</header>
	
	<div id="barre">
		<ul>
			<li><img src="/public/images/logo.png" alt="" /></li>
			<li><img src="/public/images/logo.png" alt="" /></li>
			<li><img src="/public/images/logo.png" alt="" /></li>
			<li><img src="/public/images/logo.png" alt="" /></li>
			<li><img src="/public/images/logo.png" alt="" /></li>
		</ul>
	</div>
	
	<div id="page">
	
		<nav>
			<div class="bloc_nav">
				<h3> Gatherer </h3>
				<ul>
					<li class="liste"> <a href="/index"> Accueil </a> </li>
					<li class="liste"> <a href="/projets_liste"> Mes projets </a> </li>
					<li class="liste"> <a href="/identite_statique"> Mon compte </a> </li>
					<li class="liste" id="click" style="cursor:pointer"> Style  </li>
						<div id="colorer" style="display:none">
						<li> <input class="color" value="66ff00" onchange="color1=this.color.toString(); updateGradient()"/></li>
						<li> <input class="color" value="66ff00" onchange="color2=this.color.toString(); updateGradient()"/></li>
						</div>
					<li class="liste"> <a href="/doLogout"> Se déconnecter </a> </li>
					<li class="liste"> <a href=""> Options </a> </li>			
				</ul>
				<form name="input" action="/recherche_connected" method="get">	
							<input type="search" name="recherche" id="recherche">
							<input type="submit" value="Rechercher">
						</form> 
			</div>
			
			<div class="bloc_nav">
				<div id="chatroom">
					<div id="messages">
					</div>
					<input id="message" type="text" placeholder="Entrez message">
					<input id="send" type="button" value="Envoyer">
				</div>
			</div>
			
		</nav>
		<section>
		<%- body %>
		</section>
		<div class="push"></div>
	</div>
	
	<footer>
		<!--&nbsp;-->
	</footer>

	<!-- Script -->
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="/public/javascripts/commun.js"></script>
	<script src="/public/javascripts/jscolor/jscolor.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/public/javascripts/chat/chat.js"></script>
	


</body>		
</html>