/* Formulaire*/
.highlight1{
	background-color : rgba(200,200,200,1);
}

.highlight2{
	background-color : rgba(230,230,230,1);
}

	/* Reste de la page*/
article{
	width: 572px;
	margin : 15px;
	display : none; /* Les cache de base */
}
article:nth-of-type(1) { /* N'affiche que le premier à savoir présentation */
	display: block;
}

	/*Accordion*/

.accordion {
	width: 550px;
}

.accordion h1{
	background-image: linear-gradient(rgba(200,200,200,0.6), white);
	border-radius: 5px 5px 0px 0px;
}

.avancee {
	min-height: 300px;
	background-color: rgba(225,225,225,1);
}

.avancee h3{
	text-align: center;
	padding: 10px;
}

	/*Recherche projet*/

#projet {

}
	
#theme {
	float:left;
	padding: 0px 20px;

}

#autre_filtre {
	border-left:inset rgba(200,200,200,1);
	float: right;
	padding: 0px 20px;

}

	/*Recherche personne*/
	
#personne {

}


	/*aside*/
aside{	
	vertical-align: top;
	float: right;
	text-align: left;
	width: 300px;
	padding : 0.5%;
	margin : 25px 15px;
}

.case{
	display: block-inline;
	background-color : #f3ebd1;
	padding: 15px;
	margin-bottom : 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.6);				
}

.case h3 {
	text-align: center;
	margin-bottom: 15px;
}

#localisation{
	max-width:300px;
}
